<h1>{{title}}</h1>
<main>
    <header>
            <a href="/posts">Feed</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
            <a href="/twitter">Twitter</a>
            <a href="/deepfake">Deepfake</a>
        </header>
    {{#if notyours}}
    {{else}}
    {{#if notedit}}
        <form action="/profile/edit" method="get">
            <button type="submit">Edit Profile</button> 
        </form>    
    {{/if}}
    {{/if}}
    <dl>
        {{#if notedit}}
            {{#each info}}
                <dt>{{@key}}</dt>
                <dd>{{this}}</dd>
            {{/each}}
        {{else}}
            <form id="bio-form" action="/profile" method="post" class="bio-form">
            {{#each info}}
                    {{#ifeq @key "Username"}}
                        <dt>{{@key}}</dt>
                        <dd>{{this}}</dd>
                    {{else}}
                    <div class="bio-input">
                        <label for="{{@key}}">{{@key}} </label>
                        <input type="text" id="{{@key}}" name="{{@key}}" value="{{this}}">
                    </div>
                {{/ifeq}}
            {{/each}}
                <button type="submit">Save changes</button>
            </form>
        {{/if}}
    </dl>
    <h2>Posts</h2>
    {{#each posts}}
        <h3 class="post-title">{{this.post.title}}</h3>
    <a class="user-link" href="/profile/{{this.auth.id}}"><h4 class="post-author">{{this.auth.name}}</h4></a>
        <p>{{this.post.content}}</p>        
        {{#ifeq this.post.type "Image"}}
        <img src={{this.post.url}} alt="Unable to load image">
        {{/ifeq}}
        {{#ifeq this.post.type "Video"}}
        <iframe width="560" height="315" src={{{embedsrc this.post.url}}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{/ifeq}}
    {{/each}}
    <h2>Favorites</h2>
    {{#each favs}}
        <h3 class="post-title">{{this.post.title}}</h3>
        <a class="user-link" href="/profile/{{this.auth.id}}"><h4 class="post-author">{{this.auth.name}}</h4></a>
        <p>{{this.post.content}}</p>
        {{#ifeq this.post.type "Image"}}
        <img src={{this.post.url}} alt="Unable to load image">
        {{/ifeq}}
        {{#ifeq this.post.type "Video"}}
        <iframe width="560" height="315" src={{{embedsrc this.post.url}}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{/ifeq}}
    {{/each}}
    <footer>
        <a href="/posts">Feed</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <a href="/twitter">Twitter</a>
        <a href="/deepfake">Deepfake</a>
    </footer>
</main>